<head><link rel="stylesheet" type="text/css" href="Styles/budget.css"></head>
<div class="container-fluid">
	<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Your Budget: {{budget}}
				</div>
				<div class="panel-body" style="background-color: #5f808d">
					<div class="panel panel-default">
						<div class="panel-heading">Pending <p style="float: right">Estimated Budget: ${{estimatedBudget}}</p>
						</div>
						<div class="panel-body">
							<ul class="list-group">
								  <a class="list-group-item"  ng-repeat="pendingItem in pendingItems" ng-model="item"> {{pendingItem.name}}  ${{pendingItem.total}} <i class="fa fa-level-down fa-2x" ng-click="purchased(pendingItem)" style="float: right;"></i></a>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Purchased<i class="fa fa-money fa-2x"></i> <p style="float: right">Current Budget: ${{finalTotal}}</p>
						</div>
						<div class="panel-body">
							<ul class="list-group">
								  <a class="list-group-item" ng-repeat="purchasedItem in purchasedItems"> {{purchasedItem.name}} {{purchasedItem.total}} </a>
							</ul>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>