<div class="container">
<div id="navigation_container">
 <div class="l-triangle-top"></div>
   <div class="l-triangle-bottom"></div>
	<div class="rectangle">


	<ul id="navigation">
		<li><a class="login-route" ui-sref="Ideas">Idea Board</a></li>
		<li><p>Forever Planned</p> </li>
		<li><a class="signup-route" ng-click="logout()">LogOut</a></li>
	</ul>
	</div>
	<div class="r-triangle-top"></div>
    <div class="r-triangle-bottom"></div>

</div>


</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Wedding Plan Assignments</h2>
		</div>

		<div class="col-md-5">
			Bride's List
			<!-- maybe just put the todos on separate $scope objects -->
			<div ng-repeat="todo in bride.todos">
				{{todo}}
			</div>
		</div>

		<div class="col-md-5">
			Groom's List
			<div ng-repeat="todo in groom.todos">
				{{todo}}
			</div>
		</div>

	</div>
</div>