<div class="container">
<div id="navigation_container">
 <div class="l-triangle-top"></div>
   <div class="l-triangle-bottom"></div>
	<div class="rectangle">


	<ul id="navigation">
		<li><a class="login-route" ui-sref="Ideas">Idea Board</a></li>
		<li><p>Forever Planned</p> </li>
		<li><a class="signup-route" ng-click="logout()">LogOut</a></li>
	</ul>
	</div>
	<div class="r-triangle-top"></div>
    <div class="r-triangle-bottom"></div>

</div>

<h1>{{stuff}}</h1>

</div>


<div class="container">
	<div class="row">
		<div class="col-md-12 todos">
			<h2 class="text-center">Wedding Plan Assignments</h2>
		</div>

		<div class="col-md-6 bride-todo">
			<h4><u>Bride's List</u></h4>
			
			<div>
				<p>Add Task</p>
				<input class="todo-input" ng-model="brideTask">
				<button class="btn" ng-click="addBrideTask()">Add</button>
			</div>

			<div ng-repeat="todo in brideList">
				<ul>
					<input type="checkbox" ng-click="brideCompleted(todo)">
					{{todo}}
					
				</ul>

			</div>

			<h4 class="complete-margin"><u>Completed</u></h4>
			<div ng-repeat="todo in brideComplete">
				<ul>	
					<li>{{todo}}</li>
				</ul>
			</div>

		</div>






		<div class="col-md-6 groom-todo">
			<h4><u>Groom's List</u></h4>
			
			<div>
				<p>Add Task</p>
				<input class="todo-input" ng-model="groomTask">
				<button class="btn" ng-click="addGroomTask()">Add</button>
			</div>

			<div ng-repeat="todo in groomList">
				<ul>
				
					<input type="checkbox"ng-click="groomCompleted(todo)">
					{{todo}}
					
				</ul>
			</div>

			<h4 class="complete-margin"><u>Completed</u></h4>
			<div ng-repeat="todo in groomComplete">
				<ul>	
					<li>{{todo}}</li>
				</ul>
			</div>

		</div>

	</div>
</div>