
<h1 class="budget-title text-center">Wedding Assignments</h1>
<div class="todos">
	<h4 class="text-center">To Do</h4>
	<!-- change the button colors to match the person -->
	<button class="btn btn-xs" ng-click="toDoShow('bride')">Bride</button>
	<button class="btn btn-xs" ng-click="toDoShow('groom')">Groom</button>
	
	
</div>

			<div ng-show="todoosieBride" class="bride-todo">

				<div>	
						<p>Add Task</p>
									
						<input class="todo-input form-control" ng-model="brideTask">
						<button class="btn gray-button" ng-click="addBrideTask()">Add</button>

				</div>
					

					<h4><u>{{currentUser.bride}}'s List</u></h4>
					
					<div ng-repeat="todo in brideList">
						<ul>
							<input type="checkbox" ng-click="brideCompleted(todo)">
							{{todo}}
							<i ng-click="brideDelete(todo)" class="fa fa-minus-square"></i>
							
						</ul>

					</div>

					<h4 class="complete-margin"><u>Completed</u></h4>
					<div ng-repeat="todo in brideComplete">
						<ul>	
							<input type="checkbox" ng-click="brideReverse(todo)" checked>
							{{todo}}
							<i ng-click="brideDelete(todo)" class="fa fa-minus-square"></i>
						</ul>
					</div>

				</div>

	

	<div ng-show="todoosieGroom" class="groom-todo">
		<div>
				<p>Add Task</p>
				<input class="todo-input form-control" ng-model="groomTask">
				<button class="btn gray-button" ng-click="addGroomTask()">Add</button>
		</div>


		<h4><u>{{currentUser.groom}}'s List</u></h4>


		<div ng-repeat="todo in groomList">
			<ul>
			
				<input type="checkbox"ng-click="groomCompleted(todo)">
				{{todo}}
				<i ng-click="groomDelete(todo)" class="fa fa-minus-square"></i>
				
			</ul>
		</div>

		<h4 class="complete-margin"><u>Completed</u></h4>
		<div ng-repeat="todo in groomComplete">
			<ul>	
				<input type="checkbox" ng-click="groomReverse(todo)" checked>
				{{todo}}
				<i ng-click="groomDelete(todo)" class="fa fa-minus-square"></i>
			</ul>
		</div>

	</div>
</div>











