.panel-default > .panel-heading{
	background-color: #C0C0C0;
	color: black;
}
/*.list-group-item{
	background-color: #c6c6c6;
}*/
.panel-body{
	/*border: 1px solid #EA4677;*/
	background-color: rgb(150,150,150);
}
