.custom-home-container {
	padding: 3rem;
	margin-right: -2rem;
	margin-left: 1rem;	
}
body {
	background-image: url(http://1.bp.blogspot.com/-zQzTjKEmEDo/UD5xYi5PgCI/AAAAAAAAHSU/Lu15yYieWzA/s640/natalie-barrett-texas-wedding-079-1.jpeg);
	background-size: cover;

}

.inner-views {
	margin: 0rem -2.1rem 0rem 1.2rem;
	padding: 0rem;
	/*min-width: 38rem;*/
}

.todo-bottom-margin {
	margin-bottom: 10rem;
}

.weird-margin-issues {
	margin-top: -10rem;
	background-color: rgba(0,0,0,0.7);
}


/*.home-border {
	
	border: 2px solid rgb(224, 168, 17);
}*/


.invisible{
	height:10rem;
}

.invisible-two {
	height: 3rem;
}
.idea-board {
	
}