.custom-home-container {
	padding: 3rem;
	margin-right: -2rem;
	margin-left: 1rem;
}

.inner-views {
	margin: 0rem -2.1rem 0rem 1.2rem;
	padding: 0rem;
}

.weird-margin-issues {
	margin-top: -10rem;
}


.home-border {
	border: 2px solid rgb(224, 168, 17);
}

.invisible{
	height:10rem;
}

.invisible-two {
	height: 3rem;
}