#navigation {
	background-color: #8C8C8C
}

#navigation li {
	list-style: none;
	display: block;
	float: left;
	margin: 1em;
}

#navigation li p{
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 2.5em;
        margin: -.25em 2em;
        text-align: center;
        font-family: cursive;
}

#navigation a {
	color: white;
	text-align: center;

}



#navigation_container {
   margin: 0 auto;
   width: 960px;
}

.rectangle {
   background-color: #8C8C8C;
   height: 62px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 3em 0;
}

.l-triangle-top {
   border-color: #8C8C8C transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 1px;
   left: -50px;
}
 
.l-triangle-bottom {
   border-color: transparent transparent #8C8C8C;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: -40px;
   left: -150px;
}

.r-triangle-top {
   border-color: #8C8C8Ctransparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   right: -45px;
   top: -107px;
}
 
.r-triangle-bottom {
   border-color: transparent transparent #8C8C8C;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   top: -149px;
   right: -145px;
}

.login-route {
	margin-top: -60px;
	display: inline-block;
}
.sign-route {
	display: inline-block;
}