.todos {
	background-color: white;
	margin-bottom: -1rem;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	border: 1px solid rgb(85, 85, 85);
	border-bottom: 5px solid rgb(85, 85, 85);
}

.todos button {
	background-color: #C0C0C0;
	color: black;
}
.bride-todo {
	background-color: #F2C13F;
	margin-top: 1rem;
	padding: 2rem 0 2rem 3rem;
	min-height: 25rem;
	overflow: scroll;
}

.groom-todo {
	background-color: #4D8BAC;
	margin-top: 1rem;
	padding: 2rem 0 2rem 3rem;
	min-height: 25rem;
	overflow: scroll;

}

.complete-margin {
	margin-top: 2rem;
}

.todo-input {
	padding: .5rem;
	margin: 1rem;
	width: 26rem;
}

.gray-button {
	background-color: #C0C0C0;
	color: black;
}

